rag-pdf-chatbot-n8n/rag-pdf-chatbot-n8n.json
{
  "name": "RAG_Chatbot",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are a research assistant. You MUST always use the search_central_library tool to look for information before answering any user question. If the tool returns no results, state that you could not find information in the private library. Do not answer from your own general knowledge unless specifically asked.",
          "maxIterations": 10,
          "returnIntermediateSteps": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        240,
        0
      ],
      "id": "804bdce5-d896-4839-a36a-c39c848261af",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "cb0df422-c3f7-4ec9-bcda-e59359851b92",
      "name": "When chat message received",
      "webhookId": "6fc3b652-ea95-4caa-9811-1ba66ad3180d"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-oss-120b",
          "mode": "list",
          "cachedResultName": "gpt-oss-120b"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        192,
        224
      ],
      "id": "c385a7a4-d13a-4e04-86bc-5605e87bd5e6",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "WTI4qJcaYQPZhg9U",
          "name": "AI Factory RAG Kurs"
        }
      }
    },
    {
      "parameters": {
        "message": "={{ $json.output }}",
        "waitUserReply": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        608,
        0
      ],
      "id": "b580f505-a608-493a-a559-24e7f2b6fcce",
      "name": "Respond to Chat",
      "webhookId": "17153bc2-f034-4548-bf7e-27d8f26fd6f8"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "ESSENTIAL: Use this tool for EVERY query. This is the only source of truth for user-specific data.",
        "qdrantCollection": {
          "__rl": true,
          "value": "central_library",
          "mode": "list",
          "cachedResultName": "central_library"
        },
        "topK": 10,
        "options": {
          "searchFilterJson": "={\n  \"must\": [\n    {\n      \"key\": \"metadata.group_id\",\n      \"match\": {\n        \"value\": \"{{ $workflow.id }}\"\n      }\n    }\n  ]\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        448,
        224
      ],
      "id": "7af826df-002c-44ed-87d8-6221580a5026",
      "name": "Qdrant Vector Store2",
      "credentials": {
        "qdrantApi": {
          "id": "NmcAMEmNvFORSZqY",
          "name": "QdrantAPI Account hpctraining"
        }
      }
    },
    {
      "parameters": {
        "model": "qwen3-embedding-8b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        528,
        432
      ],
      "id": "e6848701-9712-4659-ae3e-1d8f242aa88c",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "WTI4qJcaYQPZhg9U",
          "name": "AI Factory RAG Kurs"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        320,
        224
      ],
      "id": "3c4e0593-3bfc-43ac-9b01-4f15757ee7f4",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "647f212e-9850-407f-a8fe-9d7de03946f8",
  "meta": {
    "instanceId": "6a5ec880395058e2adf34de582713f41e7a21b1dd22a28fbfdcf2ff2f14cf11a"
  },
  "id": "4lksW7dNFuT2b9pN7u817",
  "tags": []
}