ai-chatbot-n8n/ai-chatbot-n8n.json
{
  "name": "HyDE_Chatbot",
  "nodes": [
    {
      "parameters": {
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -336,
        176
      ],
      "id": "c3a79ad4-3a22-484f-8719-4d9288817e0c",
      "name": "When chat message received",
      "webhookId": "6fc3b652-ea95-4caa-9811-1ba66ad3180d"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-oss-120b",
          "mode": "list",
          "cachedResultName": "GPT-OSS-120B"
        },
        "messages": {
          "values": [
            {
              "content": "You are a helpful assistant that transforms user questions into hypothetical answers. \nYour output should be a detailed, informative response to the query, even if you are not sure of the real answer. \nDo not say \"I don’t know\" or refer to uncertainty. \nWrite it as if you were giving the best possible expert answer, in a factual and explanatory style. \nThis hypothetical answer will later be used to find relevant documents.\n",
              "role": "system"
            },
            {
              "content": "=User query: {{ $json.chatInput }}\n\nGenerate a detailed hypothetical answer to this query. \nFocus on likely explanations, key concepts, and domain knowledge. \nDo not include phrases like \"hypothetical answer\" or \"this is a guess.\" \nJust write the answer directly in a professional and informative tone.\n"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -64,
        176
      ],
      "id": "02575bc6-3dab-4283-a09e-6415c3910d7e",
      "name": "HyDE Extractor",
      "credentials": {
        "openAiApi": {
          "id": "UJoUnON26pKMKT0X",
          "name": "OpenAi account 17"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is a hypothetical expansion of the user’s question.  \nUse this expansion only to guide retrieval.  \nHyDE expansion:  \n{{ $json.message.content.answer }}  \n\nTask: Retrieve relevant documents from Qdrant, read them, and provide a **final natural-language answer** to the original user’s intent. Do not expose the HyDE expansion or retrieval metadata.\n",
        "options": {
          "maxIterations": 10,
          "returnIntermediateSteps": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        272,
        176
      ],
      "id": "0f8ce0dc-1b38-4115-8ed3-632557b700b6",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-oss-120b",
          "mode": "list",
          "cachedResultName": "gpt-oss-120b"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        224,
        400
      ],
      "id": "34104b6a-6d43-4bf3-b45d-4dd4309b7903",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "UJoUnON26pKMKT0X",
          "name": "OpenAi account 17"
        }
      }
    },
    {
      "parameters": {
        "message": "={{ $json.output }}",
        "waitUserReply": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        608,
        176
      ],
      "id": "67711405-e7c9-434d-872e-7f22cea3faa8",
      "name": "Respond to Chat1",
      "webhookId": "17153bc2-f034-4548-bf7e-27d8f26fd6f8"
    },
    {
      "parameters": {
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        352,
        400
      ],
      "id": "22ee638e-6f64-445b-bba5-2e43317301a3",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "ESSENTIAL: Use this tool for EVERY query. This is the only source of truth for user-specific data.",
        "qdrantCollection": {
          "__rl": true,
          "value": "central_library",
          "mode": "list",
          "cachedResultName": "central_library"
        },
        "topK": 10,
        "options": {
          "searchFilterJson": "={\n  \"must\": [\n    {\n      \"key\": \"metadata.group_id\",\n      \"match\": {\n        \"value\": \"{{ $workflow.id }}\"\n      }\n    }\n  ]\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        480,
        400
      ],
      "id": "152d130b-946c-4b37-8f85-71564a96a2f4",
      "name": "Qdrant Vector Store3",
      "credentials": {
        "qdrantApi": {
          "id": "5vLK59zMWKQUUzq1",
          "name": "QdrantApi account 3"
        }
      }
    },
    {
      "parameters": {
        "model": "qwen3-embedding-8b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        560,
        608
      ],
      "id": "12ae7a7a-9a59-4a36-95a0-36ac52c48e95",
      "name": "Embeddings OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "UJoUnON26pKMKT0X",
          "name": "OpenAi account 17"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "HyDE Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HyDE Extractor": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Respond to Chat1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store3": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store3",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f1c10ead-592f-4af4-884c-4a6191f2a29d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6a5ec880395058e2adf34de582713f41e7a21b1dd22a28fbfdcf2ff2f14cf11a"
  },
  "id": "Uh5wq5Hb9T2g33-t0OGtv",
  "tags": []
}